<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"
    style="padding-top:var(--wp--preset--spacing--large);padding-bottom:var(--wp--preset--spacing--large)">
    <!-- wp:woocommerce/store-breadcrumb /-->

    <!-- wp:columns -->
    <div class="wp-block-columns">
        <!-- wp:column -->
        <div class="wp-block-column">
            <!-- wp:woocommerce/product-image-gallery /-->
        </div>
        <!-- /wp:column -->
        <!-- wp:column -->
        <div class="wp-block-column">
            <!-- wp:post-title /-->
            <!-- wp:woocommerce/product-price /-->
            <!-- wp:woocommerce/product-rating /-->
            <!-- wp:post-excerpt /-->
            <!-- wp:woocommerce/add-to-cart-form /-->
            <!-- wp:woocommerce/product-meta /-->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->

    <!-- wp:woocommerce/product-reviews /-->
    <!-- wp:woocommerce/product-related-products /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->